<configuration>
<location path="Default Web Site">
     <system.webServer>
        <serverSideInclude ssiExecDisable="false" />
        <defaultDocument>
            <files>
                <add value="index.shtml" />
            </files>
        </defaultDocument>
     </system.webServer>
  </location>
</configuration>
